@{
    ViewData["title"] = "OnlineShop";
}


<div class="text-center">
    <h1 class="display-4">Welcome To OnlineShop</h1>
    <p>
        There is every thing that you need Enjoy exploring our shop
    </p>
    <a class="bi bi-basket2 text-black display-3" asp-controller="Products" asp-action="Index"></a>
</div>
